@font-face {
  font-family: 'Roboto-Light';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Roboto-Light.woff') format('woff'),
  url('../fonts/Roboto-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto-Bold';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Roboto-Bold.woff') format('woff'),
  url('../fonts/Roboto-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Merriweather-Light';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Merriweather-Light.woff') format('woff'),
  url('../fonts/Merriweather-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat-Regular.woff2') format('woff2');
}