@import '~normalize.css/normalize';
@import 'fonts';
@import 'var';
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::after, *::before{
  box-sizing: inherit;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

.title{
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
  font-size: 32px;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 65px;
    background-color: #6fb048;
  }
}
.title__text{
  font-size: 15px;
  color: #83a7a5;
}
.header{
  height: 660px;
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  &__background{
    background-color: rgba(#2f5c5c, 0.7);
    height: 100%;
  }
  &__text{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    line-height: 1.2em;
  }
  &__title{
    font-size: 38px;
  }
  &__inner-text{
    font-size: 13px;
    text-transform: none;
  }
}
.menu{
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.2em;
  &__logo{
    position: relative;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2em;
    &::after{
      content: '';
      height: 20px;
      width: 1px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: #4e6969;
    }
  }
  &__item{
    color:  rgba(#fff, 0.7) !important;
    transition: 0.2s;
    &:hover{
      color:  rgba(#fff, 1) !important;
    }
  }
  &__item-num{
    position: relative;
    color:  rgba(#fff, 1) !important;
    &:before{
      content: '';
      background-image: url('../images/phone-call.svg');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 50%;
      left: 0px;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;
    }
  }
}
.features{
  height: 985px;
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  line-height: 1.2em;
  color: #0f5f5c;
  &__item-title{
    font-size: 16px;
  }
  &__item-text{
    font-size: 14px;
    color: #83a7a5;
  }
  &__img{
    height: 50px;
    width: 50px;
  }
}
.template{
  height: 665px;
  background-color: #eef1ec;
  &__text{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2em;
    color: #83a7a5;
  }
  &__title{
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 1.2em;
    color: #0f5f5c;
  }
  &__text-item{
    position: relative;
    &::before{
      content: '';
      background-image: url('../images/arrow.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 25px;
      width: 25px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
.phone{
  height: 485px;
  width: 415px;
}
.comment{
  height: 690px;
  &__text-inner{
    font-family: 'Merriweather-Light', sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.2em;
    color: #83a7a5;
  }
  &__text{
    font-size: 14px;
    line-height: 1.2em;
  }
  &__text-author{
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
    color: #6fb048;
  }
  &__text-office{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    color: #83a7a5;
  }
  &__img{
    height: 400px;
    width: 400px;
  }
}
.map{
  height: 510px;
  background-color: #eef1ec;
  &__text-title{
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 1em;
    color: #0f5f5c;
  }
  &__text-inner{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6em;
    color: #83a7a5;
  }
  &__img{
    width: 720px;
    height: 385px;
  }
}
.pricing{
  height: 1215px;
  &__card{
    // width: 250px;
    // height: 360px;
    width: 100%;
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: 400;
    line-height: 1.2em;
  }
  &__card-items{
    width: 750px;
  }
  &__card-title{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #6fb048;
  }
  &__card-subtitle{
    font-size: 65px;
    color: #0f5f5c;
    span{
      font-family: 'Roboto-Regular', sans-serif;
      font-weight: 400;
      font-size: 14px;
    }
  }
  &__card-text{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #83a7a5;
  }
  &__card-btn{
    transition: 0.3s;
    &:hover{
      background-color: #6fb048;
    }
  }
  &__list{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8em;
    color: #83a7a5;
  }
  &__list-item{
    position: relative;
    &::before{
      content: '';
      background-image: url('../images/arrow.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 25px;
      width: 25px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
.help{
  position: relative;
  &__title{
    color: #6fb048;
  }
  &__img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    height: 45px;
    width: 45px;
  }
  &__email{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1em;
    color: #0f5f5c;
  }
}
.download{
  background-image: url('../images/download-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  &__title{
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 1em;
    color: #0f5f5c;
  }
  &__text{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2em;
    color: #83a7a5;
  }
}
.footer{
  height: 350px;
  color: #83a7a5;
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
  line-height: 1.6em;
  font-size: 16px;
  &__title{
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #0f5f5c;
  }
  &__logo{
    font-size: 22px;
    line-height: 1.2em;
  }
  &__input-btn{
    height: 25px;
    width: 20px;
    background-image: url('../images/email.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}